h1 {font-family: 'Graffiti font', sans-serif;
text-align: center;}
.form {font-size: xx-large;display: flex; justify-content: center; align-items: center;}
.container{display: grid; 
    max-width: 300;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 30px;
    background-color: aquamarine;
    position: relative; top: 100px;
    border: solid 10px rgb(222, 2, 2);
    padding: 10px;}
#circle1 {border-radius: 50%; 
    background-color: rgb(2, 2, 222); 
    width: 80px; 
    height: 80px;
    z-index: 2;
    position:relative; right: -50px;}
#circle2 {border-radius: 80%;
    background-color: orange;
    width: 150px;
    height: 150px;
    position: relative; left: -180px;
z-index: 1;}
#circle3 {border-radius: 30%;
    background-color: green;
    width: 100px;
    height: 100px;}
#circle4 {border-radius: 200%;
        background-color: blueviolet;
        height: 200px;
        width: 200px;}
#triangle1 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 300px;
    height: 300px;
    background-color: red;
    z-index: 3;
}
#triangle2 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 200px;
    height: 200px;
    background-color: yellow;
    z-index: 4;
    position: relative; left: -150px;
}
form {font-display: block; 
    font-size: 20px; ;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: rgb(2, 2, 222);
    color: white;
    border-radius: 10px;
    text-align: center;
    position: relative; left: 225px;} 
/* 
    Media Queries: 
    1. Desktop 1680px x 1050px
    2. iPad 1024px x 768px
    3. Mobile 480px x 320px
*/
@media screen and (max-width: 1680px) and (max-height: 1050px) {
        .container {max-width: 1680px;max-height: 1050px;}
}
@media screen and (max-width: 1024px) and (max-height: 768px) {
        .container {max-width: 1024px;max-height: 768px;}
}
@media screen and (max-width: 480px) and (max-height: 320px) {
        .container {max-width: 480px;max-height: 320px;}
}