h1 {font-family: 'Graffiti font', sans-serif;}
.form {font-size: xx-large;display: flex; justify-content: center; align-items: center;}
.container{display: grid; 
    max-width: 300;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 30px;
position: relative; top: 100px;}
.container div{border: 1px solid rgb(222, 2, 2); 
    padding: 20px;}
#circle1 {border-radius: 50%; 
    background-color: rgb(2, 2, 222); 
    width: 80px; 
    height: 80px;
position:relative; right: -50px;}
#circle2 {border-radius: 80%;
    background-color: orange;
    width: 150px;
    height: 150px;}
#circle3 {border-radius: 30%;
    background-color: green;
    width: 100px;
    height: 100px;}
#circle4 {border-radius: 200%;
        background-color: blueviolet;
        height: 200px;
        width: 200px;}
